<server>
<include optional="true" location="jpa.xml"/>

    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>jndi-1.0</feature>
        <feature>jpa-2.1</feature>
        <feature>jaxrs-2.0</feature>
        <feature>jsonp-1.0</feature>
        <feature>usr:consulDiscovery</feature>
    </featureManager>
    <application name='catastrophe-users' location='catastrophe-users.war' type='war' context-root='/'/>
    <httpEndpoint id='defaultHttpEndpoint' host='*' httpPort='8085'/>
    <httpDispatcher enableWelcomePage='false'/>
    <applicationMonitor dropinsEnabled='false' updateTrigger='mbean'/>
    <config updateTrigger='mbean'/>

    <consul.annotation.scanner port="${CONSUL_PORT}" server="http://${CONSUL_HOST}"/>

</server>

